{% load static %}
<nav id="sidebar">
    <div class="sidebar-header d-flex align-items-center">
        <i class="fas fa-graduation-cap fa-lg me-2"></i>
        <span>Dil Fere School</span>
    </div>

    <ul class="list-unstyled components">
    {% if request.user.user_type == '1' %}
        <p class="text-uppercase small fw-bold px-3 text-secondary">Admin Portal</p>

        <li class="nav-item">
            {% url 'admin_home' as admin_home %}
            <a href="{{admin_home}}" class="nav-link {% if admin_home == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i> Dashboard
            </a>
        </li>

        <li class="nav-item">
            {% url 'admin_view_profile' as admin_view_profile %}
            <a href="{{admin_view_profile}}" class="nav-link {% if admin_view_profile == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-user"></i> View/Edit Profile
            </a>
        </li>
        <li class="nav-item">
            {% url 'admin_notify_staff' as admin_notify_staff %}
            <a href="{{admin_notify_staff}}" class="nav-link {% if admin_notify_staff == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-bell"></i> Notify Staff
            </a>
        </li>
        <li class="nav-item">
            {% url 'admin_notify_student' as admin_notify_student %}
            <a href="{{admin_notify_student}}" class="nav-link {% if admin_notify_student == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-bell"></i> Notify Student
            </a>
        </li>
        <li class="nav-item">
            {% url 'add_staff' as add_staff %}
            <a href="{{add_staff}}" class="nav-link {% if add_staff == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-plus"></i> Add Staff
            </a>
        </li>

        <li class="nav-item">
            {% url 'manage_staff' as manage_staff %}
            {% url 'edit_staff' staff_id=id as edit_staff %}
            <a href="{{manage_staff}}" class="nav-link {% if manage_staff == request.path or request.path == edit_staff %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i> Manage Staff
            </a>
        </li>
        <li class="nav-item">
            {% url 'add_student' as add_student %}
            <a href="{{add_student}}" class="nav-link {% if add_student == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-plus"></i> Add Student
            </a>
        </li>

        <li class="nav-item">
            {% url 'manage_student' as manage_student %}
            {% url 'edit_student' student_id=id as edit_student %}
            <a href="{% url 'manage_student' %}" class="nav-link  {% if manage_student == request.path or request.path == edit_student %} active {% endif %}">
                <i class="nav-icon fas fa-user-graduate"></i> Manage Student
            </a>
        </li>
        <li class="nav-item">
            {% url 'add_course' as add_course %}
            <a href="{{add_course}}" class="nav-link {% if add_course == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-plus"></i> Add Class
            </a>
        </li>

        <li class="nav-item">
            {% url 'manage_course' as manage_course %}
            {% url 'edit_course' course_id=id as edit_course %}
            <a href="{% url 'manage_course' %}" class="nav-link  {% if manage_course == request.path or request.path == edit_course %} active {% endif %}">
                <i class="nav-icon fas fa-book"></i> Manage Class
            </a>
        </li>
        <li class="nav-item">
            {% url 'add_subject' as add_subject %}
            <a href="{{add_subject}}" class="nav-link {% if add_subject == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-plus"></i> Add Subject
            </a>
        </li>

        <li class="nav-item">
            {% url 'manage_subject' as manage_subject %}
            {% url 'edit_subject' subject_id=id as edit_subject %}
            <a href="{% url 'manage_subject' %}" class="nav-link  {% if manage_subject == request.path or request.path == edit_subject %} active {% endif %}">
                <i class="nav-icon fas fa-book-open"></i> Manage Subject
            </a>
        </li>
        <li class="nav-item">
            {% url 'add_session' as add_session %}
            <a href="{{add_session}}" class="nav-link {% if add_session == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-plus"></i> Add Session
            </a>
        </li>

        <li class="nav-item">
            {% url 'manage_session' as manage_session %}
            {% url 'edit_session' session_id=id as edit_session %}
            <a href="{% url 'manage_session' %}" class="nav-link  {% if manage_session == request.path or request.path == edit_session %} active {% endif %}">
                <i class="nav-icon fas fa-calendar-alt"></i> Manage Session
            </a>
        </li>

        <li class="nav-item">
            {% url 'admin_view_attendance' as admin_view_attendance %}
            <a href="{% url 'admin_view_attendance' %}" class="nav-link  {% if admin_view_attendance == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-clock"></i> Student Attendance
            </a>
        </li>
        <li class="nav-item">
            {% url 'staff_feedback_message' as staff_feedback_message %}
            <a href="{% url 'staff_feedback_message' %}" class="nav-link  {% if staff_feedback_message == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-comment-alt"></i> Staff Feedback
            </a>
        </li>
        <li class="nav-item">
            {% url 'student_feedback_message' as student_feedback_message %}
            <a href="{% url 'student_feedback_message' %}" class="nav-link  {% if student_feedback_message == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-comment"></i> Student Feedback
            </a>
        </li>
        <li class="nav-item">
            {% url 'view_staff_leave' as view_staff_leave %}
            <a href="{% url 'view_staff_leave' %}" class="nav-link  {% if view_staff_leave == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-envelope"></i> Staff Leave
            </a>
        </li>

        <li class="nav-item">
            {% url 'view_student_leave' as view_student_leave %}
            <a href="{% url 'view_student_leave' %}" class="nav-link  {% if view_student_leave == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-envelope-open"></i> Student Leave
            </a>
        </li>

        <p class="text-uppercase small fw-bold px-3 text-secondary mt-3">Timetable</p>
        <li class="nav-item">
            {% url 'manage_timeslot' as manage_timeslot %}
            <a href="{{manage_timeslot}}" class="nav-link {% if manage_timeslot == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-clock"></i> Manage Time Slots
            </a>
        </li>
        <li class="nav-item">
            {% url 'manage_timetable' as manage_timetable %}
            <a href="{{manage_timetable}}" class="nav-link {% if manage_timetable == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-calendar-alt"></i> Manage Timetable
            </a>
        </li>
        <li class="nav-item">
            {% url 'view_timetable' as view_timetable %}
            <a href="{{view_timetable}}" class="nav-link {% if view_timetable == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-table"></i> View Timetable
            </a>
        </li>
                
{% elif request.user.user_type == '2' %}
        <p class="text-uppercase small fw-bold px-3 text-secondary">Staff Portal</p>

        <li class="nav-item">
            {% url 'staff_home' as staff_home %}
            <a href="{{staff_home}}" class="nav-link {% if staff_home == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i> Dashboard
            </a>
        </li>

        <li class="nav-item">
            {% url 'staff_view_profile' as staff_view_profile %}
            <a href="{{staff_view_profile}}" class="nav-link {% if staff_view_profile == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-user"></i> View/Edit Profile
            </a>
        </li>

        <li class="nav-item">
            {% url 'staff_add_result' as staff_add_result %}
            <a href="{{staff_add_result}}" class="nav-link {% if staff_add_result == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-poll"></i> Add Result
            </a>
        </li>
        <li class="nav-item">
            {% url 'edit_student_result' as edit_student_result %}
            <a href="{{edit_student_result}}" class="nav-link {% if edit_student_result == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-edit"></i> Edit Result
            </a>
        </li>
        <li class="nav-item">
            {% url 'staff_take_attendance' as staff_take_attendance %}
            <a href="{{staff_take_attendance}}" class="nav-link {% if staff_take_attendance == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-calendar-check"></i> Take Attendance
            </a>
        </li>
        <li class="nav-item">
            {% url 'staff_update_attendance' as staff_update_attendance %}
            <a href="{{staff_update_attendance}}" class="nav-link {% if staff_update_attendance == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-clock"></i> View/Update Attendance
            </a>
        </li>
        <li class="nav-item">
            {% url 'staff_view_notification' as staff_view_notification %}
            <a href="{{staff_view_notification}}" class="nav-link {% if staff_view_notification == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-bell"></i> View Notifications
            </a>
        </li>

        <li class="nav-item">
            {% url 'staff_apply_leave' as staff_apply_leave %}
            <a href="{{staff_apply_leave}}" class="nav-link {% if staff_apply_leave == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-envelope"></i> Apply For Leave
            </a>
        </li>

        <li class="nav-item">
            {% url 'staff_feedback' as staff_feedback %}
            <a href="{{staff_feedback}}" class="nav-link {% if staff_feedback == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-comment-alt"></i> Feedback
            </a>
        </li>

        <li class="nav-item">
            {% url 'staff_view_timetable' as staff_view_timetable %}
            <a href="{{staff_view_timetable}}" class="nav-link {% if staff_view_timetable == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-calendar-alt"></i> My Timetable
            </a>
        </li>
          
{% elif request.user.user_type == '3' %}
        <p class="text-uppercase small fw-bold px-3 text-secondary">Student Portal</p>

        <li class="nav-item">
            {% url 'student_home' as student_home %}
            <a href="{{student_home}}" class="nav-link {% if student_home == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i> Dashboard
            </a>
        </li>

        <li class="nav-item">
            {% url 'student_view_profile' as student_view_profile %}
            <a href="{{student_view_profile}}" class="nav-link {% if student_view_profile == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-user"></i> View/Edit Profile
            </a>
        </li>

        <li class="nav-item">
            {% url 'student_view_result' as student_view_result %}
            <a href="{% url 'student_view_result' %}" class="nav-link {% if student_view_result == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-poll"></i> View Results
            </a>
        </li>

        <li class="nav-item">
            {% url 'student_view_attendance' as student_view_attendance %}
            <a href="{{student_view_attendance}}" class="nav-link {% if student_view_attendance == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-calendar-check"></i> View Attendance
            </a>
        </li>

        <li class="nav-item">
            {% url 'student_view_notification' as student_view_notification %}
            <a href="{{student_view_notification}}" class="nav-link {% if student_view_notification == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-bell"></i> View Notifications
            </a>
        </li>

        <li class="nav-item">
            {% url 'student_apply_leave' as student_apply_leave %}
            <a href="{{student_apply_leave}}" class="nav-link {% if student_apply_leave == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-envelope"></i> Apply For Leave
            </a>
        </li>

        <li class="nav-item">
            {% url 'student_feedback' as student_feedback %}
            <a href="{{student_feedback}}" class="nav-link {% if student_feedback == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-comment-alt"></i> Feedback
            </a>
        </li>

        <li class="nav-item">
            {% url 'student_view_timetable' as student_view_timetable %}
            <a href="{{student_view_timetable}}" class="nav-link {% if student_view_timetable == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-calendar-alt"></i> My Timetable
            </a>
        </li>
          
{% elif request.user.user_type == '4' %}
        <p class="text-uppercase small fw-bold px-3 text-secondary">Registrar Portal</p>

        <li class="nav-item">
            {% url 'registrar_home' as registrar_home %}
            <a href="{{registrar_home}}" class="nav-link {% if registrar_home == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i> Dashboard
            </a>
        </li>

        <li class="nav-item">
            {% url 'registrar_view_profile' as registrar_view_profile %}
            <a href="{{registrar_view_profile}}" class="nav-link {% if registrar_view_profile == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-user"></i> View/Edit Profile
            </a>
        </li>

        <li class="nav-item">
            {% url 'registrar_view_students' as registrar_view_students %}
            <a href="{{registrar_view_students}}" class="nav-link {% if registrar_view_students == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-user-graduate"></i> View Students
            </a>
        </li>

        <li class="nav-item">
            {% url 'registrar_view_staff' as registrar_view_staff %}
            <a href="{{registrar_view_staff}}" class="nav-link {% if registrar_view_staff == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i> View Staff
            </a>
        </li>

        <li class="nav-item">
            {% url 'registrar_view_courses' as registrar_view_courses %}
            <a href="{{registrar_view_courses}}" class="nav-link {% if registrar_view_courses == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-book"></i> View Classes
            </a>
        </li>

        <li class="nav-item">
            {% url 'registrar_view_subjects' as registrar_view_subjects %}
            <a href="{{registrar_view_subjects}}" class="nav-link {% if registrar_view_subjects == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-book-open"></i> View Subjects
            </a>
        </li>

        <li class="nav-item">
            {% url 'registrar_view_attendance' as registrar_view_attendance %}
            <a href="{{registrar_view_attendance}}" class="nav-link {% if registrar_view_attendance == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-clock"></i> View Attendance
            </a>
        </li>

        <li class="nav-item">
            {% url 'registrar_view_results' as registrar_view_results %}
            <a href="{{registrar_view_results}}" class="nav-link {% if registrar_view_results == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-poll"></i> View Results
            </a>
        </li>

        <li class="nav-item">
            {% url 'registrar_view_timetable' as registrar_view_timetable %}
            <a href="{{registrar_view_timetable}}" class="nav-link {% if registrar_view_timetable == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-calendar-alt"></i> View Timetable
            </a>
        </li>

{% elif request.user.user_type == '5' %}
        <p class="text-uppercase small fw-bold px-3 text-secondary">Guardian Portal</p>

        <li class="nav-item">
            {% url 'guardian_home' as guardian_home %}
            <a href="{{guardian_home}}" class="nav-link {% if guardian_home == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i> Dashboard
            </a>
        </li>

        <li class="nav-item">
            {% url 'guardian_view_profile' as guardian_view_profile %}
            <a href="{{guardian_view_profile}}" class="nav-link {% if guardian_view_profile == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-user"></i> View/Edit Profile
            </a>
        </li>

        <li class="nav-item">
            {% url 'guardian_view_children' as guardian_view_children %}
            <a href="{{guardian_view_children}}" class="nav-link {% if guardian_view_children == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-child"></i> My Children
            </a>
        </li>

        <li class="nav-item">
            {% url 'guardian_view_notifications' as guardian_view_notifications %}
            <a href="{{guardian_view_notifications}}" class="nav-link {% if guardian_view_notifications == request.path %} active {% endif %}">
                <i class="nav-icon fas fa-bell"></i> View Notifications
            </a>
        </li>

{% else %}

        <li class="nav-item mt-4 border-top pt-2">
            <a href="{% url 'user_logout' %}" onclick="return confirm('Your session would be terminated.\n\nProceed?')" class="nav-link text-danger">
                <i class="nav-icon fas fa-sign-out-alt"></i> Logout
            </a>
        </li>
    </ul>
</nav>