{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ page_title }}</h3>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Course</th>
                                    <th>Gender</th>
                                    <th>Date Joined</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for staff_member in staff %}
                                <tr>
                                    <td>{{ staff_member.admin.last_name }}, {{ staff_member.admin.first_name }}</td>
                                    <td>{{ staff_member.admin.email }}</td>
                                    <td>{{ staff_member.course.name }}</td>
                                    <td>{{ staff_member.admin.get_gender_display }}</td>
                                    <td>{{ staff_member.admin.date_joined|date:"M d, Y" }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">No staff found</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
