{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ page_title }}</h3>
                    </div>
                    <div class="card-body">
                        <p>Attendance viewing functionality - Coming soon</p>
                        <p>Total Attendance Records: {{ subjects.count }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
